In [1]:
import optidex as dx
des_1 = dx.Design(experiments=10,
                  levels={
                      0: [-1, 0, 1],
                      1: [-5, 5],
                      2: [-1, 0, 1],
                      3: [-1, 0, 1]
                  })
des_1.set_model(order=2, interactions_only=False, bias=True)
des_1.set_algorithm(criterion="det", epochs=100)
des_1.__dict__

{'experiments': 10,
 'levels': {0: [-1, 0, 1], 1: [-5, 5], 2: [-1, 0, 1], 3: [-1, 0, 1]},
 'features': 4,
 'order': 2,
 'interactions_only': False,
 'bias': True,
 'epochs': 100,
 'criterion': 'det'}

In [2]:
design, model, design_hist, optimality_hist = des_1.fit()

In [3]:
design

    x0   x1   x2   x3
0 -1.0 -5.0 -1.0 -1.0
1  0.0 -5.0  0.0  1.0
2 -1.0  5.0  0.0 -1.0
3 -1.0  5.0  1.0  1.0
4  0.0  5.0  1.0 -1.0
5  1.0 -5.0 -1.0  1.0
6 -1.0  5.0 -1.0  1.0
7  1.0 -5.0  0.0  1.0
8  0.0 -5.0  1.0 -1.0
9  1.0  5.0 -1.0 -1.0

In [4]:
model

,1,x0,x1,x2,x3,x0^2,x0 x1,x0 x2,x0 x3,x1^2,x1 x2,x1 x3,x2^2,x2 x3,x3^2
0,1.0,-1.0,-5.0,-1.0,-1.0,1.0,5.0,1.0,1.0,25.0,5.0,5.0,1.0,1.0,1.0
1,1.0,0.0,-5.0,0.0,1.0,0.0,-0.0,0.0,0.0,25.0,-0.0,-5.0,0.0,0.0,1.0
2,1.0,-1.0,5.0,0.0,-1.0,1.0,-5.0,-0.0,1.0,25.0,0.0,-5.0,0.0,-0.0,1.0
3,1.0,-1.0,5.0,1.0,1.0,1.0,-5.0,-1.0,-1.0,25.0,5.0,5.0,1.0,1.0,1.0
4,1.0,0.0,5.0,1.0,-1.0,0.0,0.0,0.0,-0.0,25.0,5.0,-5.0,1.0,-1.0,1.0
5,1.0,1.0,-5.0,-1.0,1.0,1.0,-5.0,-1.0,1.0,25.0,5.0,-5.0,1.0,-1.0,1.0
6,1.0,-1.0,5.0,-1.0,1.0,1.0,-5.0,1.0,-1.0,25.0,-5.0,5.0,1.0,-1.0,1.0
7,1.0,1.0,-5.0,0.0,1.0,1.0,-5.0,0.0,1.0,25.0,-0.0,-5.0,0.0,0.0,1.0
8,1.0,0.0,-5.0,1.0,-1.0,0.0,-0.0,0.0,-0.0,25.0,-5.0,5.0,1.0,-1.0,1.0
9,1.0,1.0,5.0,-1.0,-1.0,1.0,5.0,-1.0,-1.0,25.0,-5.0,-5.0,1.0,1.0,1.0

In [5]:
design_hist

     epoch   x0   x1   x2   x3
0      0.0 -1.0  5.0  0.0  0.0
1      0.0 -1.0 -5.0  0.0  0.0
2      0.0 -1.0  5.0  0.0  0.0
3      0.0 -1.0  5.0  0.0  0.0
4      0.0  1.0 -5.0 -1.0  1.0
..     ...  ...  ...  ...  ...
995   99.0  0.0 -5.0  0.0 -1.0
996   99.0  1.0 -5.0  1.0  0.0
997   99.0  1.0  5.0  0.0  0.0
998   99.0  1.0 -5.0 -1.0 -1.0
999   99.0  1.0 -5.0  0.0 -1.0

[1000 rows x 5 columns]

In [6]:
optimality_hist

,epoch,experiment,feature,3,4,5,max
0,0,0,0,2.222142e-86,-6.070188e-90,-1.262618e-87,2.222142e-86
1,0,0,1,-8.128322e-81,3.413204e-80,NaN,3.413204e-80
2,0,0,2,-2.657858e-79,1.322892e-80,-2.339025e-79,1.322892e-80
3,0,0,3,-1.563190e-79,-1.318523e-80,-1.429406e-79,-1.318523e-80
4,0,1,0,3.381077e-80,1.898903e-82,5.142503e-81,3.381077e-80
...,...,...,...,...,...,...,...
3995,99,8,3,-6.626336e-79,-3.280510e-78,-2.401185e-78,-6.626336e-79
3996,99,9,0,1.923017e-79,5.624675e-80,7.628207e-79,7.628207e-79
3997,99,9,1,7.996742e-80,-7.829898e-80,NaN,7.996742e-80
3998,99,9,2,-5.920604e-79,7.258013e-79,2.042740e-80,7.258013e-79
3999,99,9,3,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00